html, body{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #000;
	background: #dadada;
	
	img{
		max-width: 100%;
		height: auto;
	}
}

//-------------------------------------------------------------------------------//
// Header //
//-------------------------------------------------------------------------------//
.navbar-default{
	background:linear-gradient(to right, #fcc642 0%, #fdc742 49.04%, #ee7207 49.23%, #ec7206 100%);
	border-bottom: 0;
	.container{
		background: url(../images/header.png) center top no-repeat ;
		background-size: cover;
		
		.logo{
			padding-top: 30px;
			padding-bottom: 30px; 
		}
	}
}

//-------------------------------------------------------------------------------//
// Main //
//-------------------------------------------------------------------------------//
.content{
	background: #fff;
	padding-bottom: 20px;
	.page-header{
		margin-bottom: 10px;
		padding: 0;
		border-bottom: 0;
		/* Smartphone */
		@media (max-width: @screen-xs-max) {
			margin-top: 10px;
		}
	}
	h1{
		font-weight: 700;
		font-size: 28px;
		color: @brand-primary;
	}
	
	//-------------------------------------------------------------------------------//
	// Navigation //
	//-------------------------------------------------------------------------------//
	.navigation{
		nav{
			padding-left: 0;
			padding-right: 0;
			padding-top: 40px;
			/* Smartphone */
			@media (max-width: @screen-xs-max) {
				padding-top: 10px;
				overflow-x: hidden;
			}
			ul{
				li{
					padding-left: 10px;
					padding-right: 10px;
					/* Smartphone */
					@media (max-width: @screen-xs-max) {
						padding-left: 0px !important;
						padding-right: 0px !important;
					}
					&:last-child{
						padding-right: 0;
					}
					&:first-child{
						padding-left: 0;
					}
					a{
						color: #fff;
						background: fade(@brand-primary, 30%);
						font-family: "Open Sans Condensed", sans-serif;
						font-size: 26px;
						padding-left: 20px;
						padding-right: 20px;
					}
					&.active{
						a{
							background: @brand-primary;
						}
					}
					&:hover{
						a{
							background: @brand-primary;
							transition: all 0.5s ease;
						}
					}
				}
			}
		}
		.navbar-toggle{
			background: @brand-primary;
			border: 0;
			border-radius: 0;
			float: left;
			margin-top: 20px;
			.icon-bar{
				color: #fff;
				background: #fff;
			
				
			}
		}
	}
	
	.thumbnail{
		border-radius: 0;
		padding: 3px;
		border-color: @brand-secondary;
		img{
			max-width: auto;
			width: 100%;
			height: auto;
		}
	}
	
	//-------------------------------------------------------------------------------//
	// Sidebar //
	//-------------------------------------------------------------------------------//
	.images{
		padding-top: 40px;
		padding-right: 25px;
		.big{
			margin-bottom: 10px;
		}
		.item{
			padding-left: 5px;
			padding-right: 5px;
		}
		/* Smartphone */
		@media (max-width: @screen-xs-max) {
			.item{
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	
	//-------------------------------------------------------------------------------//
	// Meta //
	//-------------------------------------------------------------------------------//
	.meta{
		margin-top: 30px;
		padding-top: 5px;
		text-align: center;
		border-top: 1px solid @brand-secondary;
		float: none;
		clear: both;
		&:before, &:after{
			clear: both;
			float: none;
		}
		li{
			a{
				color: @brand-secondary;
				font-weight: 700;
				&:hover{
					color: @brand-primary;
					transition: all 0.5s ease;
					text-decoration: none
				}
			}
		}
	}
}

//-------------------------------------------------------------------------------//
// Sonstiges //
//-------------------------------------------------------------------------------//
::selection{
	color: #fff;
	background: @brand-primary;
}